﻿

  <script src="~/apps/libs/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>

  <link rel="stylesheet" href="~/apps/libs/bootstrap/bootstrap-3.3.1.css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>


  <script src="~/apps/libs/angularjs/angular-1.2.27.js" type="text/javascript"></script>

  <script src="~/apps/libs/angularjs/ui-bootstrap-tpls-0.12.0.js" type="text/javascript"></script>


  <script src="~/apps/libs/angularjs/angular-route.js" type="text/javascript"></script>

  <script src="~/apps/components/datepicker/datepicker.js" type="text/javascript"></script>
  <script src="~/apps/components/switchery/switchery.js" type="text/javascript"></script>
  <script src="~/apps/components/switchery/switchery_mod.js" type="text/javascript"></script>

  <link rel="stylesheet" href="~/apps/components/switchery/switchery.css" />
