﻿<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>@Page.Title</title>
  

    @RenderPage("_head.cshtml")


    @{
      var moduleName = Page.ModuleName as string;

      if (!string.IsNullOrEmpty(moduleName))
      {
        <script src="~/apps/modules/@(moduleName)/module.js" type="text/javascript"></script>
      }
    }


  </head>

  <body ng-app="@(moduleName)">


    <div ng-view>
      @RenderBody()
    </div>


  </body>


  @RenderSection("endOfPage", required: false)

</html>
