﻿<accordion>
  
  <accordion-group is-open="filterStatus.showFilter">

    <accordion-heading>
      <i class="glyphicon glyphicon-align-justify"></i>
      <span>Flights Filter</span>
    </accordion-heading>




    <div class="form-group form-group-sm">
      <label for="txtDepartureAirportCode">Departure airport code</label>
      <input id="txtDepartureAirportCode" type="text" class="form-control" ng-model="flightSearchRequest.DepartureAirportCode" />

      <label for="txtArrivalAirportCode">Arrival airport code</label>
      <input id="txtArrivalAirportCode" type="text" class="form-control" ng-model="flightSearchRequest.ArrivalAirportCode" />

      <label for="txtDepartureDate">Departure date</label>
      <my-ui-datepicker input-id="txtDepartureDate" model="flightSearchRequest.DepartureDate"></my-ui-datepicker>

      <label for="txtReturnDate">Return date</label>
      <my-ui-datepicker input-id="txtReturnDate" model="flightSearchRequest.ReturnDate"></my-ui-datepicker>
      
      <p></p>
      <p>
        <input id="chbxUseCORS" type="checkbox" ng-model="serviceType.useCORS" class="js-switch" ui-switch /> For testing purpose: Send CORS request directly to http://nmflightservice.cloudapp.net/api/Flight 
        <span class="label label-warning">
          CORS failure may occur.
        </span>
      </p>
      
    </div>
    
    @*search button*@
    <button class="btn btn-sm btn-info" ng-click="getFlightInfos()" ng-disabled="isSearching">
      <i class="glyphicon glyphicon-search"></i>
      Search Flights
    </button>
  </accordion-group>

</accordion>

@*{{flightSearchRequest | json}}*@