﻿<div style="padding: 10px;">
  

  @RenderPage("filter.cshtml")

  <p></p>
  
  <div class="alert alert-danger" ng-if="errorMsg != null">
    {{errorMsg}}
  </div>
  
  <div class="alert alert-danger" ng-if="validationErrors != null && validationErrors.length > 0">
    <p ng-repeat="validationError in validationErrors">{{validationError}}</p>
  </div>

  @*flights result list*@
  <div class="list-group">

    <div class="list-group-item" ng-show="isSearching">
      <div class="text-center">
        <img src="~/apps/images/ajax-loader.gif" />
      </div>
    </div>
        
    <div id="divResultsSummary" class="list-group-item" ng-if="flightInfos != null">
      {{flightInfos.length}} flights found.
    </div>

    <div class="list-group-item" ng-repeat="flightInfo in flightInfos">

      <div class="row">
            
        <div class="col-sm-3">
          <span class="label label-info">{{$index + 1}}</span>
        </div>
          <div class="col-sm-3">
            <img ng-src="{{flightInfo.AirlineLogoAddress}}" alt="NA" />
                
            <p>
              <strong>{{flightInfo.AirlineName}}</strong>
            </p>
          </div>


          <div class="col-sm-6">

            <p>
              Inbound Duration: {{flightInfo.InboundFlightsDuration}}
            </p>
            <p>
              Outbound Duration - {{flightInfo.OutboundFlightsDuration}}
            </p>

            <p>
              <strong>Price</strong>
              <span>{{flightInfo.TotalAmount | currency}}</span>
            </p>
          </div>
        </div>

    </div>
  </div>

</div>

